In [5]:
from sklearn.model_selection import train_test_split
import mglearn
X, y = mglearn.datasets.make_forge()
from sklearn.neighbors import KNeighborsClassifier
X_train, y_train, X_test, y_test = train_test_split(X, y, random_state = 0)
clf = KneighborsClassifier(X_train, y_train)

SyntaxError: invalid syntax (267815291.py, line 4)

In [2]:
import pandas as pd
X_display = pd.DataFrame(X)
X_display

            0         1
0    9.963466  4.596765
1   11.032954 -0.168167
2   11.541558  5.211161
3    8.692890  1.543220
4    8.106227  4.286960
5    8.309889  4.806240
6   11.930271  4.648663
7    9.672847 -0.202832
8    8.348103  5.134156
9    8.674947  4.475731
10   9.177484  5.092832
11  10.240289  2.455444
12   8.689371  1.487096
13   8.922295 -0.639932
14   9.491235  4.332248
15   9.256942  5.132849
16   7.998153  4.852505
17   8.183781  1.295642
18   8.733709  2.491624
19   9.322983  5.098406
20  10.063938  0.990781
21   9.500490 -0.264303
22   8.344688  1.638243
23   9.501693  1.938246
24   9.150723  5.498322
25  11.563957  1.338940