#### All Libraries needed

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from csv import reader
import pandas as pd
import mglearn


#### Load the Dataset into a Pandas Dataframe ###
df = pd.read_csv('KaggleV2-May-2016.csv')

#### Explore the Dataset

In [2]:
# Print the first few rows of the DataFrame
df.head()

# Check the dimensions of the DataFrame
#df.shape

# Get statistical information about the dataset
#df.describe()

# Check for missing values
#df.isnull().sum()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

#### Split the dataset into training and testing sets.

In [3]:
X, y = mglearn.datasets.make_forge()

# Split the dataset into training and testing sets (e.g., 80% for training, 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()

/Users/michaelkhanda/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function make_blobs is deprecated; Please import make_blobs directly from scikit-learn
  warnings.warn(msg, category=FutureWarning)

#### Train the Model

In [4]:
# Train the model using the training set
model.fit(X_train, y_train)

LogisticRegression()

#### Evaluate the Model's Perfomance

In [5]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")
print(y_pred)

# Alternatively, you can use the classification report from scikit-learn
#from sklearn.metrics import classification_report
#print(classification_report(y_test, y_pred))

Accuracy: 0.8333333333333334
Precision: 1.0
Recall: 0.8333333333333334
F1 Score: 0.9090909090909091
[1 1 1 1 0 1]